{{#section 'head'}}
<title>Employees | Delivery App</title>
{{/section}}
<body>
    <body>
        <div class="container pt-3">
            <div class="d-flex align-items-center justify-content-end py-3">
                <a href="/employees/add">
                    <button type="button" class="btn btn-primary">ADD EMPLOYEE</button>
                </a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">ROLE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">CONTACT</th>
                        <th scope="col">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each employees}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{firstname}} {{lastname}}</td>
                        <td>{{role}}</td>
                        <td>{{email}}</td>
                        <td>{{tel}}</td>
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    {{#if isDelivery}}
                                    <li><a href="/employees/upgrade/{{id}}" class="dropdown-item">CHANGE ROLE</a></li>
                                    {{/if}}
                                    <li><a class="dropdown-item text-warning" href="/employees/edit/{{id}}">EDIT</a>
                                    </li>
                                    <li><a class="dropdown-item text-danger" href="/employees/delete/{{id}}">DELETE</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </body>
</body>