{{#section 'head'}}
<title>Users | Delivery App</title>
{{/section}}
<body>
    {{> sAdminNavbar }}
    <body>
        <div class="container pt-3">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">NAME</th>
                        <th scope="col">ROLE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">CONTACT</th>
                        <th scope="col">ACTIONS</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each users}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{'Employee.firstname'}} {{'Employee.lastname'}}</td>
                        <td>{{role}}</td>
                        <td>{{'Employee.email'}}</td>
                        <td>{{'Employee.tel'}}</td>
                        <td>
                            <!-- Example single danger button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Action
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item text-warning" href="/users/edit/{{id}}">EDIT</a></li>
                                    <li><a class="dropdown-item text-danger" href="/users/delete/{{id}}">DELETE</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </body>
</body>