<body>
    <div class="container pt-3">
        <div class="d-flex align-items-center justify-content-end py-3">
            <a href="/employees">
                <button type="button" class="btn btn-danger">CANCEL</button>
            </a>
        </div>
        <form id="addEmployeeForm" action="{{#if edit}}/employees/edit/{{employee.id}}{{else}}/employees/add{{/if}}"
            method="post">
            <h2 class="text-center">{{#if edit}}EDIT{{else}}ADD{{/if}} EMPLOYEE</h2>
            <div class="mb-3">
                <label for="textInputEmployeeFirstname" class="form-label">Firstname</label>
                <input type="text" name="firstname" value="{{employee.firstname}}" class="form-control"
                    id="textInputEmployeeFirstname">
            </div>
            <div class="mb-3">
                <label for="textInputEmployeeLastname" class="form-label">Lastname</label>
                <input type="text" value="{{employee.lastname}}" name="lastname" class="form-control"
                    id="textInputEmployeeLastname">
            </div>
            <div class="mb-3">
                <label for="textInputStreet" class="form-label">Email</label>
                <input type="email" name="email" value="{{employee.email}}" class="form-control" id="textInputEmail">
            </div>
            <div class="mb-3">
                <label for="textInputContactNo" class="form-label">Contact No</label>
                <input type="tel" name="tel" value="{{employee.tel}}" class="form-control" id="textInputContactNo">
            </div>
            <div class="mb-3">
                <label for="selectInputUserRole" class="form-label">Role</label>
                <select required name="role" id="selectInputUserRole" class="form-select"
                    aria-label="Default select example">
                    <option selected></option>
                    <option value="ADMIN">ADMIN</option>
                    <option value="MANAGER">MANAGER</option>
                    <option value="DELIVERY">DELIVERY</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="textInputPassword" class="form-label">Username</label>
                <input type="text" value="{{employee.username}}" name="username" class="form-control"
                    id="textInputUsername">
            </div>
            <div class="mb-3">
                <label for="textInputPassword" class="form-label">Password</label>
                <input type="password" value="{{employee.password}}" name="password" class="form-control"
                    id="textInputPassword">
            </div>
            <div class="mb-3">
                <label for="textInputConfirmPassword" class="form-label">Confirm Password</label>
                <input type="password" value="{{employee.password}}" name="confirm_password" class="form-control"
                    id="textInputConfirmPassword">
            </div>
            <button type="submit" class="btn btn-primary">SUBMIT</button>
            <button type="reset" class="btn btn-danger">RESET</button>
        </form>
    </div>
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            {{!-- <img src="..." class="rounded me-2" alt="..."> --}}
            <strong class="me-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Hello, world! This is a toast message.
        </div>
    </div>
    {{!--
    <script>
        document.getElementById('addEmployeeForm')
            .addEventListener('submit', event => {
                event.preventDefault()
                const form = event.target

                const body = JSON.stringify({
                    firstname: form.elements.firstname.value,
                    lastname: form.elements.lastname.value,
                    email: form.elements.email.value,
                    tel: form.elements.tel.value
                })

                const headers = { 'Content-Type': 'application/json' }
                fetch('/employees/add', { method: 'post', body, headers })
                    .then(res => {
                        if (res.status < 200 || res.status >= 300) {
                            const toastLiveExample = document.getElementById('liveToast')
                            const toast = new bootstrap.Toast(toastLiveExample)

                            toast.show()
                        }

                        return res
                    })
                    .then(json => {
                        console.log(json)
                        window.location.href = json.url
                    })
                    .catch(err => {
                        console.log(err)
                    })
            })
    </script> --}}
</body>